


/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

@font-face {
    font-family: "gallery_modernregular";
    src: url("../Gallery/otherfontfiles/gallerymodern-webfont.ttf")
        format("truetype");
    font-weight: 100;
}
/* /IMPORT FONT */


/* VARIABLES */
:root {
    --darkblue: rgba(2, 0, 58, 1);
    --lightbeige: #fffaea;
    --midbeige: #ccc8bb;
    --darkbeige: #727069;
}

/* VARIABLES */


/* SCROLL BAR */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background-color: var(--lightbeige);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkblue);
    border-radius: 6px;
    width: 15px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

@media screen and (max-width: 500px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
/* /SCROLL BAR */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lightbeige);
    font-family: "Manrope", sans-serif;
}

h1 {
    font-family: "gallery_modernregular", sans-serif;
    font-weight: 100;
}

h2 {
    font-family: "gallery_modernregular", sans-serif;
    font-weight: 100;
}


h4 {
    font-size: 1.5em;
}
p {
    font-family: "Manrope", sans-serif;
}

a {
    cursor: pointer;
}
