.go-back {
    margin: 50px 50px 0 50px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    border: 1px black solid;
    display: inline-block;
    border-radius: 100px;
    transition: border 0.2s, color 0.2s, background-color 0.2s;
    font-family: "gallery_modernregular", sans-serif;
}

.go-back:hover {
    border: 1px white solid;
    color: white;
    background-color: black;
    transition: all 0.2s;
}

@media screen and (max-width: 1500px) {
    .go-back {
        font-size: 2em;
    }
}
