@media screen and (max-width: 500px) {
    .projets-container .projets-card .card-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;

    }
    .projets-container .projets-card .card-container p {
        text-align: center;
    }

    header h1 {
        font-size: 4em;
    }

    .projets-container {
        margin-top: 15px;
    }
    .projets-container .projets-card {
        width: 300px;
        height: 300px;
    }

    .gauche {
        margin: 0 15px;
    }

    .gauche .gauche-box,
    .droite .droite-box{
        margin-bottom: 20px;
    }

    .droite-box h2 {
        margin-top: 1rem;
    }

    .projets-container .projets-card .card-container h2 {
        font-size: 30px;
    }

    .projets-container .projets-card .card-container p {
        font-size: 15px;
    }

    .title-skills {
        font-size: 20px;
    }

    .skill p {
        font-size: 15px;
    }

    .container-outils li img {
        width: 50px;
        height: 50px;
    }

    .skill img {
        width: 50px;
        height: 50px;
    }
}