@media screen and (max-width: 300px) {
    header h1 {
        font-size: 2.5em;
    }
    header #moi {
        font-size: 1.5em;
    }

    .droite .droite-box h2 {
        font-size: 2.5em;
    }
    .gauche .gauche-box h2 {
        font-size: 2.5em;
    }

    .gauche .p-gauche {
        margin: 0;
        font-size: 15px;
        padding: 0 15px;
    }

    .droite .p-droite {
        margin: 0;
        text-align: justify;
        font-size: 15px;
        padding: 0 15px;
    }
}
