@media screen and (max-width: 1000px) {
    header {
        padding: 0;
    }

    header h1 {
        margin-top: 50px;
        font-size: 4em;
    }

    #moi {
        font-size: 2em;
    }
    .photos-container {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .gauche .gauche-box hr {
        display: none;
    }
    .droite .droite-box hr {
        display: none;
    }
    .gauche .gauche-box h2 {
        width: 100%;
        font-size: 3em;
    }
    .droite .droite-box h2 {
        width: 100%;
        font-size: 3em;
    }
    .gauche .p-gauche {
        margin: 0;
        padding: 0 15px;
    }

    .droite .p-droite {
        margin: 0;
        text-align: justify;
        font-size: 30px;
        padding: 0 15px;
    }

    .hard-soft-skills-container {
        flex-direction: column;
    }

    #a-cv-container {
        font-size: 10px;
    }

    #img-cv {
        width: 70%;
        height: 70%;
    }
}